
@{
    ViewBag.Title = "Create";
}

<h2>Add Course</h2>

<form action="" method="post" class="form-control">
    @*<input type="hidden" name="Id" value="@Model.Id" placeholder="Id" class="form-control" />*@
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="text" name="PreReq" value="@Model.PreReq" placeholder="PreReq" class="form-control" />
    <input type="submit" name="Edit" />
</form>

