
@{
    ViewBag.Title = "login";
}

<h2>login</h2>
<form>
    <input type="text" name="name" placeholder="Name" /> 
    <input type="password" name="password" placeholder="password" />
    <input type="submit" value="Login" class="btn-success" />
</form>

